.bold, Button {
    -fx-font-weight: 700;
}

Button {
    -fx-background-color: rgb(111, 222, 111);
}

Button, Label, RadioButton {
    -fx-font-size: 14px;
}

#footer Label {
    -fx-font-size: 16px;
}

TextField {
    -fx-alignment: center;
}

#canvasWrapper {
    -fx-background-color: rgb(41, 41, 41);
}